<div class="edit-item-content hundred-percent add-edit-info"  data-ng-controller="detailedProductViewController">

  <div class="left-section fifty-percent img-display">
    <img src="data:image/jpeg;base64,{{obj.image}}" alt="{{obj.name}}" class="img-responsive"/>

    <!-- <div class="image-roller">
      <img src="" alt=""/>
      <img src="" alt=""/>
      <img src="" alt=""/>
      <img src="" alt=""/>
    </div> -->
  </div>

  <div class="right-section fifty-percent">
    <form class="inline">

      <div class="form-group">
        <label class="block">Name</label>
        <span class="block ninety-percent">{{obj.name}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block"> Category</label>
        <span class="block ninety-percent">{{obj.category}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Sub-Category</label>
        <span class="block ninety-percent">{{obj.sub_category}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Cost Price</label>
        <span class="block ninety-percent" tooltip="INR">{{obj.pricing.cost_price}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Discount (%)</label>
        <span class="block ninety-percent" tooltip="%">{{obj.pricing.discount}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Effective Price</label>
        <span class="block ninety-percent" tooltip="INR">{{obj.pricing.selling_price}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Specifications</label>
        <span class="block ninety-percent" ng-repeat="spec in obj.specifications track by $index">{{spec}}<br/></span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Features</label>
        <span class="block ninety-percent" ng-repeat="feat in obj.features track by $index">{{feat}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Cities we deliver in </label>
        <span class="block ninety-percent" ng-repeat="city in obj.cities_for_delivery track by $index">{{city}}</span>
      </div>

      <div class="form-group" class="block">
        <label class="block">Available stocks </label>
        <span class="block ninety-percent">{{obj.items_in_stock}}</span>
      </div>

      <div class="block text-align-right ninety-percent" style="margin: 1px;">
        <button class="btn btn-primary twenty-percent" ng-click="updateItemInfo()">Add to cart</button>
      </div>
    </form>
  </div>
</div>
