<div class="dashboard-content hundred-percent">
  <div data-ng-controller='merchantDashboardController'>

    <div class="stats-display">
      <div class="fifty-percent inline-block text-align-center">
        <h3 class="block text-align-center">Top Seller</h3>
        <div id="top-sellers-donut">

        </div>
      </div>

      <div class="fifty-percent inline-block text-align-center">
        <h3 class="block text-align-center">Yearly Revenue Generation</h3>
        <div  id="yearly-sales-revenue">

        </div>
      </div>
    </div>

    <div class="items-display">
      <div class="heading text-align-center">
        <h2>Your Catalog</h2>
      </div>

      <div class="buttons">
        <button class="btn btn-primary add-new margin-v" ng-click='addNewItem()'>
          <i class="icon-plus"></i> Add New
        </button>
        <button class="btn btn-primary add-new" data-toggle="modal" data-target="#bulkItemUpload">
          <i class="icon-plus"></i> Add Bulk
        </button>
      </div>

      <div id="bulkItemUpload" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Upload items in BULK ?</h4>
            </div>
            <div class="modal-body">
              <p>By uploading the file containg the details of the items. This save a lot of your time. But please review your file before uploading.</p>
              <p>*Please select only xml type of file for uploading items in bulk.</p>

              <div data-ng-controller = "bulkUploadController">
                  <input type="file" file-model="myFile"/>
                  <button ng-click="uploadFile()" data-dismiss="modal" data-target="#bulkItemUpload">Upload</button>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div id="notification-success" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Congratulations..</h4>
            </div>
            <div class="modal-body">
              <br/>
              <span>All products added successfully</span>
              <br/>
              <br/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" data-target="#notification-success">Thanks</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        console.log("in ui results count : ", $scope.items.length());
      </script>

      <div class='item-list hundred-percent margin-v'>
       <xor-item-snapshot ng-repeat="item in items track by item._id" obj="item"></xor-item-snapshot>
       <!-- <span ng-repeat="item in items">
         {{item._id}}
       </span> -->
       <span>

       </span>
     </div>
    </div>

  </div>
</div>
