@import url(https://fonts.googleapis.com/css?family=Amaranth);
*,
body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Amaranth', sans-serif;
}
.nav-bar {
  color: #FFF;
  vertical-align: middle;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(grey, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(grey, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(grey, black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(grey, black);
  /* Standard syntax (must be last) */
  padding: 1em;
  vertical-align: super;
}
.nav-bar h1 {
  margin: 0;
  display: inline-block;
  width: 45%;
}
.nav-bar a {
  text-decoration: none;
  color: #FFF;
}
.nav-bar .user-snapshot {
  width: 53%;
  display: inline-block;
  text-align: right !important;
  vertical-align: super;
}
.nav-bar .user-snapshot a {
  cursor: pointer;
}
.nav-bar .user-snapshot span {
  text-transform: capitalize;
}
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px 0;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
/* ----------------------------------------------------------------------------
* Name          : Sachin Khedkar
* Organisation  : Xoriant
* Contact       : sachin.khedkar@xoriant.com
*                 sachin.khedkar91288@gmail.com
*                 08149137792 / 09421690448
* Please do not change the file.
* -------------------------------------------------------------------------- */
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.ten-percent {
  width: 9%;
  display: inline-block;
}
.twenty-percent {
  width: 19%;
  display: inline-block;
}
.thirty-percent {
  width: 29%;
  display: inline-block;
}
.forty-percent {
  width: 39%;
  display: inline-block;
}
.fifty-percent {
  width: 49%;
  display: inline-block;
}
.sixty-percent {
  width: 59%;
  display: inline-block;
}
.seventy-percent {
  width: 69%;
  display: inline-block;
}
.eighty-percent {
  width: 79%;
  display: inline-block;
}
.ninety-percent {
  width: 89%;
  display: inline-block;
}
.hundred-percent {
  display: block;
  width: 99%;
}
.top-left-corner {
  position: absolute;
  top: 0;
  left: 0;
}
.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}
.bottom-left-corner {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom-right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
}
.center {
  margin: 0 auto;
  padding: 0 auto;
}
.right {
  position: relative;
  right: 0;
}
.left {
  position: relative;
  left: 0;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-bolder {
  font-weight: bolder;
}
.font-weight-lighter {
  font-weight: lighter;
}
.pad-h {
  padding-left: 1em;
  padding-right: 1em;
}
.pad-v {
  padding-top: 1em;
  padding-bottom: 1em;
}
.pad-a {
  padding: 1em;
}
.margin-h {
  margin-left: 1em;
  margin-right: 1em;
}
.margin-v {
  margin-top: 1em;
  margin-bottom: 1em;
}
.margin-a {
  margin: 1em;
}
.round-corner {
  border-radius: 1em;
}
.round-corner-top {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.round-corner-bottom {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.round-corner-left {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.round-corner-right {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}
.login-content {
  margin: 1em;
  width: 98%;
}
.login-content .login-container {
  background-color: #DFF0D8;
  color: #529138;
  padding: 1em;
}
.login-content .login-container input {
  width: 95%;
  margin: 0 1em 1em 0;
  color: #000;
}
.login-content .login-container label {
  display: block;
  margin-bottom: 5px;
}
.login-content .login-container button {
  width: 25%;
}
.login-content .login-container .right {
  text-align: right;
  right: 1em;
}
.login-content .login-container .right span {
  margin-right: 10%;
}
.login-content .error-message {
  color: #b84c4c;
}
.login-content .login-heading {
  background-color: #F2DEDE;
  color: #963b3b;
  padding: 1em;
  margin-bottom: 0;
}
.login-content .offers-display {
  display: inline-block;
}
.login-content .offers-display:first-child {
  width: 45%;
  vertical-align: top;
  text-align: center;
}
.login-content .offers-display:first-child img {
  padding: 2em;
}
.login-content .offers-display:last-child {
  vertical-align: text-bottom;
  width: 46%;
  border-radius: 1em;
}
@media (max-width: 520px) {
  .login-content {
    width: auto;
  }
  .offers-display {
    clear: both !important;
    width: 100% !important;
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  .login-content .login-container button {
    width: 33% !important;
  }
}
@media (min-width: 521px) and (max-width: 800px) {
  .login-content {
    width: auto;
  }
  .offers-display {
    clear: both !important;
    width: 49% !important;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
  .login-content .login-container button {
    width: 33% !important;
  }
}
.signup-content .container {
  margin: 2em auto;
}
.signup-content .container .heading {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}
.signup-content .container .right {
  text-align: right;
  right: 1em;
}
.signup-content .container .form-group {
  margin: 1em auto;
}
.signup-content .container .form-group label {
  padding-left: 10%;
  vertical-align: top;
}
.signup-content .container .form-group .error-message {
  padding-left: 5px;
  margin-left: 29%;
  color: #c77070;
}
.dashboard-content .items-display {
  border-top: 2px solid #D9EDF7;
}
.dashboard-content .items-display .item-list {
  border-top: 2px solid #D9EDF7;
}
.dashboard-content .items-display .heading {
  width: 83%;
  display: inline-block;
}
.dashboard-content .items-display .heading h2 {
  margin-left: 17%;
}
.dashboard-content .items-display .buttons {
  width: 16%;
  display: inline-block;
}
.dashboard-content .items-display .add-new {
  margin: 20 20 10 0;
  vertical-align: super;
}
.dashboard-content .stats-display {
  background-color: #D9EDF7;
  margin: 1em 0 1em 0;
}
.dashboard-content .stats-display svg {
  margin: 1em auto;
  padding: 1em;
  overflow: visible !important;
}
.dashboard-content .stats-display svg g .c3-xgrid-focus line {
  visibility: hidden !important;
}
.dashboard-content .user-search {
  margin: 1em;
  width: 97%;
  display: inline-block;
  text-align: right;
}
.dashboard-content .user-search input {
  width: 25%;
}
.dashboard-content .user-search i {
  font-size: 26px;
  position: relative;
  top: 8px;
  right: 27px;
}
.dashboard-content #search-results {
  display: none;
}
.dashboard-content .product {
  text-align: center;
}
.dashboard-content .product h4 {
  text-align: left;
  padding-left: 2em;
}
.dashboard-content #topCarousel .image {
  width: 39% !important;
  margin-left: 10% !important;
  display: inline-block !important;
}
.dashboard-content #topCarousel .top-carousel-caption {
  width: 39% !important;
  display: inline-block !important;
}
.dashboard-content #topCarousel .top-carousel-caption {
  color: #000 !important;
}
.dashboard-content #topCarousel .carousel-inner > .item > img,
.dashboard-content #topCarousel .carousel-inner > .item > a > img {
  width: 70%;
  height: 450px;
  margin: auto;
}
.dashboard-content #topCarousel .item img {
  max-height: 300px;
}
.dashboard-content #topCarousel ol li {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.dashboard-content #topCarousel ol li:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.dashboard-content #topCarousel .carousel-control {
  position: absolute;
  width: 10%;
  top: 0;
  bottom: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.dashboard-content #topCarousel .carousel-control .right,
.dashboard-content #topCarousel .carousel-control .left {
  position: absolute !important;
}
@media (max-width: 600px) {
  .stats-display {
    margin: 0 auto !important;
  }
  .stats-display div {
    display: block;
    width: 100% !important;
  }
  .stats-display h3:first-child {
    margin: 0;
  }
  .stats-display h3:last-child {
    margin: 10px !important;
  }
  .stats-display svg {
    margin: 0 auto !important;
    padding: 0 !important;
    overflow: visible !important;
  }
  .items-display .heading {
    width: 100% !important;
  }
  .items-display .heading h2 {
    margin-left: 0 !important;
  }
  .items-display .buttons {
    width: 100% !important;
  }
  .items-display .buttons button {
    width: 45%;
    margin-left: 2.5%;
  }
}
.add-edit-info .img-display {
  vertical-align: top;
}
.add-edit-info img:first-child {
  max-height: 400px;
  width: 90%;
  margin: 0 auto;
}
#product-details span {
  color: #555569;
}
xor-item-snapshot img {
  min-height: 150px;
  max-height: 200px;
  min-width: 100px;
  max-width: 150px;
  vertical-align: top;
}
xor-item-snapshot .item {
  margin: 1em;
  border-bottom: 2px solid #DFF0D8;
}
xor-item-snapshot .details h4 {
  color: #d59595;
}
xor-item-snapshot .details h5 {
  height: 100px;
  overflow: hidden;
}
xor-item-snapshot ul {
  list-style: none !important;
  padding-left: 15px;
}
xor-product-card .list-item-box {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
xor-product-card .list-item-box img {
  height: 200px;
  width: 200px;
}
xor-product-card .list-item-box a {
  text-decoration: none;
  display: block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 600px) {
  xor-item-snapshot img,
  xor-item-snapshot .description {
    width: 100% !important;
  }
  xor-item-snapshot h3 {
    width: 45% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  xor-item-snapshot h4 {
    width: 35% !important;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  xor-item-snapshot button {
    width: auto !important;
    position: relative;
    bottom: 1.8em;
    left: 1em;
  }
  xor-item-snapshot button span {
    display: none;
  }
}
