.add-edit-info{
  .img-display{
    vertical-align: top;
  }

  img:first-child{
    max-height: 400px;
    width: 90%;
    margin: 0 auto;
  }
}

#product-details{
  span{
    color: #555569;
  }
}
