.dashboard-content{
  // background-color: #FFFFDD;

  .items-display{
    border-top: 2px solid @colorInfo;
    // background-color: @colorWarning;

    h2{
      // font-family: 'Lovers Quarrel', cursive;
      // font-family: 'Sevillana', cursive;
      // font-family: 'Amaranth', sans-serif;
    }

    .item-list{
      border-top: 2px solid @colorInfo;
    }

    .add-new{
      margin: 20 20 10 0;
      vertical-align: super;
    }
  }

  .stats-display{
    background-color: @colorInfo;
    margin: 1em 0 1em 0;

    svg{
      margin: 1em auto;
      padding: 1em;
      overflow: visible !important;
    }
  }
}
