.dashboard-content{
  // background-color: #FFFFDD;

  .items-display{
    border-top: 2px solid @colorInfo;
    // background-color: @colorWarning;

    h2{
      // font-family: 'Lovers Quarrel', cursive;
      // font-family: 'Sevillana', cursive;
      // font-family: 'Amaranth', sans-serif;
    }

    .item-list{
      border-top: 2px solid @colorInfo;
    }

    .heading{
      width: 83%;
      display: inline-block;

      h2{
        margin-left: 17% !important;
      }
    }

    .buttons{
      width: 16%;
      display: inline-block;
    }

    .add-new{
      margin: 20 20 10 0;
      vertical-align: super;
    }
  }

  .stats-display{
    background-color: @colorInfo;
    margin: 1em 0 1em 0;

    svg{
      margin: 1em auto;
      padding: 1em;
      overflow: visible !important;
    }
  }

  #topCarousel{
    .image{
      width: 59% !important;
      display: inline-block !important;
    }

    .top-carousel-caption{
      width: 39% !important;
      display: inline-block !important;
    }

    .top-carousel-caption{
      color: #000 !important;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        height: 450px;
        margin: auto;
    }

  }
}
